---
import ProjectLayout from "../layouts/ProjectLayout.astro";
import { useSanityClient } from "@sanity/astro";


import Nav from "../components/Nav.astro";
import ProjectSection from "../components/ProjectSection.astro";
import ImageBuilder from "../components/ImageBuilder.astro";
import Footer from "../components/Footer.astro";

export async function getStaticPaths() {
  const allProjectData = await useSanityClient().fetch(`*[_type == "project"]`)

  return allProjectData?.map((project: any) => {
    return {
      params: { projectName: project.slug.current },
      props: { project },
    };
  });
}
const { project } = Astro.props;
---

<ProjectLayout title={project.projectName}>
  <Nav />
  <div class="image-wrapper">
    <ImageBuilder cls="project-hero-image" source={project.thumbnailImage}/>
  </div>
  <div class="container">
    <h1>{project.projectName}</h1>
    <div id="tag-list">
      {project.tags?.map((tag: string) => <span>{tag}</span>)}
    </div>
    <h2>{project.description}</h2>

    <div id="sections-wrapper">
      {
        project.content?.map((section: any) => (
          <ProjectSection
            sectionTitle={section.sectionTitle}
            sectionText={section.sectionText}
            sectionImages={section.sectionImages}
          />
        ))
      }
    </div>
  </div>
</ProjectLayout>
<Footer />

<style>
  .image-wrapper {
    margin: auto;
    text-align: center;
  }

  .container {
    max-width: var(--breakpoint-md);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--accent-color);
  }

  #tag-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    margin-top: 1rem;
    color: var(--hero-text);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  h2 {
    margin-top: 0.4rem;
    font-size: 1.8rem;
    font-weight: 600;
  }

  @media screen and (max-width: 52rem) {
    h1 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 32rem) {
    .container {
      padding: 0 1.2rem;
    }
  }

  @media only screen and (hover: none), (max-width: 32rem) {
    .hero-image {
      margin-top: 0;
    }
  }
</style>
