---
import { sanityClient } from "sanity:client";
import ImageBuilder from "../utils/ImageBuilder.astro";

const fProjectsData =
  await sanityClient.fetch(`*[_type == 'projectsSection'][0]{
    heading,
    "slug": slug.current,
    projectsFeatured[]->{
        projectName,
        "slug": slug.current,
        "thumbnailImage": thumbnailImage.image.asset._ref,
        "thumbAltText": thumbnailImage.image.alt,
        "lqip": thumbnailImage.image.asset->metadata.lqip,
        "ratio": thumbnailImage.image.asset->metadata.dimensions.aspectRatio,
    }  
}`);
---

<section class="project-section" id={fProjectsData.slug}>
  <h2 class="project-section-title">{fProjectsData.heading}</h2>
  <div class="projects-wrapper">
    {
      fProjectsData.projectsFeatured?.map((project: any, index: number) => (
        <div class="card">
          <a
            href={project.slug}
            class="card-link"
            aria-labelledby={project.slug}
          >
            <div class="image-wrapper">
              <div class="image-overlay" />
              <ImageBuilder
                cls="thumbnail-image"
                source={project.thumbnailImage}
                lqip={project.lqip}
                ratio={project.ratio}
                alt={project.thumbAltText}
                w={900}
                loading={index === 0 ? "eager" : "lazy"}
              />
            </div>
            <h2 class="card-title" id={project.slug}>
              {project.projectName}
            </h2>
          </a>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  .project-section {
    max-width: var(--content-w);
    margin: 0 auto;
    padding: 0 var(--content-px);
    margin-bottom: 10rem;
    .project-section-title {
      font-size: var(--step-3);
      padding-top: var(--nav-height);
      margin-top: calc(var(--nav-height) * -1);
      margin-bottom: 1rem;
      margin-left: 1rem;
      transition: color 200ms ease-out;
    }
  }

  .projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    width: 100%;

    .card {
      position: relative;
      width: 100%;
      height: var(--card-h);

      &:hover > {
        .card-link {
          .card-title {
            opacity: 1;
          }
          .image-wrapper {
            transform: translateX(calc(var(--card-offset) * -1));
            .image-overlay {
              background-color: rgb(var(--c-bg), 0);
            }
          }
        }
      }

      .card-link {
        position: absolute;
        width: 100%;
        height: 100%;

        .image-wrapper {
          border-radius: var(--card-radius);
          overflow: hidden;
          height: 100%;
          transition: var(--card-transition-time);
          outline: solid var(--stroke-w) rgb(var(--c-stroke));
          background-color: rgb(var(--c-stroke));
          box-shadow: 0px 6px 10px -8px black;

          .image-overlay {
            position: absolute;
            width: 100%;
            border-radius: var(--card-radius);
            height: 100%;
            transition: background-color var(--card-transition-time);
            background-color: rgb(var(--c-bg), 0.25);
            z-index: 1;
          }
        }
        .card-title {
          position: absolute;
          right: 0;
          bottom: 1rem;
          color: rgb(var(--c-fg));
          background-color: var(--c-pill-bg);
          padding: 1rem 1.4rem;
          margin: 0;
          border-radius: 999px;
          font-size: 1.2rem;
          text-align: center;
          z-index: 1;
          opacity: 0;
          font-weight: 700;
          border: solid var(--stroke-w) rgb(var(--c-stroke));

          backdrop-filter: blur(10px);
          transform: translateX(var(--card-offset));
          pointer-events: none;

          transition:
            opacity var(--card-transition-time),
            color var(--card-transition-time),
            background-color var(--card-transition-time),
            border var(--card-transition-time);
        }
      }
    }
  }

  @media only screen and (width <= 800px) {
    :root {
      --card-offset: 0;
    }
    .project-section .project-section-title {
      margin-left: 0;
    }

    .projects-wrapper .card {
      &:hover > .card-link .image-wrapper {
        transform: none;
      }

      .card-link {
        .card-title {
          opacity: 1;
        }
        .image-wrapper {
          width: calc(100% - 2rem);

          .image-overlay {
            background-color: rgb(var(--c-bg), 0);
          }
        }
      }
    }
  }
</style>
